caption{
    max-width: 100%;
    background-color: black;
    color: white;
    font-size: 1.2em;

}
.tabela{
    
    text-align: center;
    font-weight: 1000;
}

table{
    border-collapse: collapse;
    
  
}
td, th{
    padding: 7px;
}
tfoot {
    caption-side: bottom;
    background-color: white;
    color: black;
    font-size: 0.6rem;
    font-weight: 100;
  }