
body{
  background-image: url('/cse121b/sentenceGenerator/images/background.jpg');
}


#sentence-container {
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 1em;

    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
  }
  #sentence{
    margin-top: 2em;
  }
  button{
    font-size: 0.5em;
    margin-top: -6em;
    margin-bottom: 4em;
  }
header h1{
  color: white;
  text-align: center;
  font-size: 3em;
}
header h2 {
  color: white;
  text-align: center;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

header h2 span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
}

header h2 span:nth-child(even) {
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  header h2 span:nth-of-type(#{$item}) {
  animation-delay: #{3 + ($item/10)}s;
  }
  }

