h1, h2, h3{font-family: 'Montserrat', sans-serif; }
span#copyrightyear, span#lastmodified, p {font-family: 'Roboto', sans-serif; }


header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-size: 0.9em;
    background-color: #820ad1;
    justify-items: center;
    border-radius: 3px;
    margin-bottom: 1em;
    
}
header h2{
    font-size: 0.6em;
    
}
header h3{
    color: white;
    grid-column: 2/3;
    text-align: center;
    
}

header img{
    width: 6em;
    height: auto;
    grid-column: 1/2;
    margin-top: 20%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    grid-row: 1/4;
    grid-column: 3/4;
    margin-right: 1.3em;
}
#socialMedias {
    display: flex;
    grid-column: 2/2;
    grid-row: 1/1;
    margin-top: 1em;
    column-gap: 0.5em;
    margin-top: 12%;
}
#socialMedias img{
    width: 1.5em;
    height: auto;
    
}

.date {
    grid-column: 1/6;
    background-color: white;
    color: #820ad1;
    margin: auto;
    margin-bottom: 1em; 
    border-radius: 2.5px;
}


#hamburguerBtn{
    margin-top: -2%;
    
}

nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.5);
}
#weather
nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}
nav ul {display: none;}
nav ul.open {display: block;}

#hamburguerBtn span:nth-child(1) {display:block;}
#hamburguerBtn span:nth-child(2) {display:none;}


#hamburguerBtn.open span:nth-child(1) {display:none;}
#hamburguerBtn.open span:nth-child(2) {display:block;}

main{
    display: grid;
    grid-auto-rows: 13em;
    gap: 1em;
}
#event h1{
    margin-top: -0.1em;
    font-size: 1.6rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;

}

#heroBox {
    position: relative;
  }
  
  #heroBox h1, #heroBox a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  #heroBox h1{
    font-size: 1em ;
    font-weight: bolder;
    background-color: #820ad1;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 4px;
      
  }
  #heroBox a {
      top: 10em;
      background-color: #820ad1;
      color: white;
      border-radius: 4px;
      text-decoration: none;
      margin-left: 35%;
      margin-right: 35%;
      width: 30%;
      
  }
  #heroBox img {
    display: block;
    width: 100%;
    z-index: 0;
  }

#heroBox, #event, #weather, #newRelease, #spotlight{
    
    border: 1px solid black;
}
#spotlight {
    display: flex;
    border: 1px solid black;
    grid-row: 5/7;
    column-gap: 5px;
    flex-direction: column;
}
#event, #newRelease{
    color: black;
    background-color: #d1d1d1;
    text-align: center
    
    
}
#event p{
    padding: 1%;
    font-size: 1.8em;
}



.spotlight1, .spotlight2, .spotlight3{
    position: relative;
    border: 1px solid black;
    margin-top: 0.6rem;
    font-size: 1.9rem;
    flex: 35%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    max-height: 100%; /* Define a altura máxima como 100% */
    overflow: hidden; 
}

  .spotlight1 h1, .spotlight1 h2, .spotlight1 p, 
  .spotlight2 h1, .spotlight2 h2, .spotlight2 p,
  .spotlight3 h1, .spotlight3 h2, .spotlight3 p {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    font-size: 0.9rem;
    text-align: center;
    color: black;
  

  }

  
  .spotlight1 h1{
    right: 1em;
    font-size: 1.5rem;
    margin-top: -0.4rem;
  }
  .spotlight1 h2, .spotlight2 h2, .spotlight3 h2{
      top: 7em;
      right: 1em;
      margin-top: 1em;
  }  
  .spotlight1 h2, .spotlight2 h2{
    margin-top: 1.7em;
}
  .spotlight1 p:first-of-type, .spotlight2 p:first-of-type, .spotlight3 p:first-of-type{
    top: 8.5em;
    padding-top: 2%;
    right: 1em;
  }
  .spotlight1 p:last-of-type, .spotlight2 p:last-of-type, .spotlight3 p:last-of-type{
    top: 9.5em;
    padding-top: 4%;
    right: 1em;
  }
  .spotlight2 h1{
    right: 0.7em;
    font-size: 1.5rem;
    margin-top: -0.4rem;
    font-size: 1.4rem;

  }
  
  
  .spotlight1 img, .spotlight2 img, .spotlight3 img{
    z-index: 0;
  }

.spotlight3{
    display: none;
}
   
   #join{
    display: none;
   }
#newRelease h1{
    margin-top: -0.1em;

}
#newRelease p{
    margin-top: -1em;
}
footer{
   
    text-align: center;
    background-color: #820ad1;
    
}
footer img{
    width: 35%;
    height: auto;
    margin-top: 1.3em;
}
#footerTop, #copyrightyear, #lastmodified, footer p{
    color: white;
    
}

#footerTop{
    border-bottom: 1px solid white;
    padding-bottom: 1em;
    margin: 1em;
}
#footerBottom{
    padding-top: 1.2em;
    margin: 1em;
}
footer a{
    text-decoration: underline;
    color: white;
}
footer p{
    margin: 0.9rem;
}

span#copyrightyear{
    font-weight: 500;
}
 #heroBox img{
        width: 100%;
        height: 100%;
    }
#weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
}
#weather h1{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    margin-top: -0.1em;
    margin-bottom: 2em;
    border-bottom: 1px solid black;
}
#weather img{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 7em;
    height: auto;
    align-self: center;
    margin-left: 45%;
    float: left;
    margin-top: -4em;
    margin-bottom: 1em;
}
#temperature{
    font-size: 2em;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
    margin-right: 80%;
    margin-left: 20%;
    margin-top: -1em;
}
#weather h2{
    
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: -0.5em;
}
#windSpeed{
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: 1.5em;
}
#windChill{
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: 3em;
}
    /*
    #weather{
        color: black;
        background-color: #d1d1d1;
        display: flex;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-right: 10%;
        margin-left: 10%;
        justify-content: space-between;
    }
    #weather h1{
        display: flex;
        align-self: flex-start;
        margin-left: 1em;
        margin-top: -0.2em;
    }
    #weather h2{
        display: flex;
        align-self: center;
    }
    #weather img{
        margin-bottom:2em;
        margin-right: 
        width: 40%;
        height: 40%;
    }

    #temperature{
        font-size: 3em;
        margin-right: 10px;
    }
    */
    #spotlight img{
        width: 100%;
        height: 100%;
    }
   main div{
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
}
figure{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d1d1d1;
}   
















 