@media only screen and (min-width: 64rem){
   
   
   
    nav button{
        display: none;
   }
    nav ul{
        display: flex;
        border-left: 1px solid rgba(0, 0, 0, 0.253);
   }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.253);
   }
    nav{
        align-items: center;
        grid-column: 2/2;
   }
    #socialMedias{
        grid-column: 3/3;
        margin-right: -13em;
        gap: 2em;
   }
    header img{
        width: 10em;
        margin-top: 0.8rem;
        margin-left: -3em;
   }
    #event{
        width: 13.25rem;
        height: auto;
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;
   }
    #weather{
        width: 13.25rem;
        height: auto;
        grid-column: 1/2;
        grid-row: 2/3;
        grid-template-rows: auto;
        margin: 0;
        flex: none;
   }
   #weather h1{
    margin-top: 0.6em;
   }
    #temperature {
        font-size: 2em;
        width: 100%;
        margin-top: 0.5em;
    }
   
    #weather img{
        margin-left: 20%;
        width: 80%;
        margin-top: -0.5em;
   }
   
   #windSpeed{
       
       margin-top: 1.5em;
   }
    #join{
        width: 13.25rem;
        height: 13.25rem;
        grid-column: 1/2;
        grid-row: 3/4;
   }
    #join h1{
        margin-top: 0.7rem;
        margin-right: 1rem;
        margin-left: 1rem;
   }
    #join p{
        margin-top: -0.5em;
        margin-left: 3px;
        margin-right: 3px;
   }
    #heroBox{
        grid-column: 2/4;
        grid-row: 1/3;
   }
    main, header, footer{
        margin-left: 0em;
        margin-right: 0em;
   }
    #heroBox h1{
        margin: 0;
        margin-top: 0.5rem;
        right: 2em;
        left: 2em;
        font-size: 1.8em;
   }
    #heroBox a{
        font-size: 2em;
        margin-top: 7em;
   }
    #newRelease{
        font-size: 0.9rem;
        grid-column: 2/4;
        grid-row: 3/4;
   }
    .spotlight3{
        display: unset;
   }
    #spotlight{
        width: 13.25rem;
        height: auto;
        display: flex;
        grid-column: 4/5;
        grid-row: 1/4;
        flex-direction: column;
   }
   #spotlight img {
    width: 100%;
    height: auto;
}
    #newRelease p{
        margin: 1em;
   }
    .info{
        flex-direction: column;
   }
    .spotlight1 h2, .spotlight1 p, .spotlight2 h2, .spotlight2 p, .spotlight3 h2, .spotlight3 p {
        font-size: 0.77rem;
        margin-top: 23%;
   }
    .spotlight3 h2{
        margin-top: 14%;
   }
    .spotlight1 h1, .spotlight2 h1{
        font-size: 1.1rem;
   }
   div#galleryImg {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
    .space img{
        width:unset;
        height:unset;
        
    }
    .space{
        margin-right: 15em;
        margin-left: 15em;
    
    }
    
}
