@media only screen and (min-width: 64rem){
   
   
   
    nav button{
        display: none;
   }
    nav ul{
        display: flex;
        border-left: 1px solid rgba(0, 0, 0, 0.253);
   }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.253);
   }
    nav{
        align-items: center;
        grid-column: 2/2;
   }
    #socialMedias{
        grid-column: 3/3;
        margin-right: -13em;
        gap: 2em;
   }
    header img{
        width: 10em;
        margin-top: 0.8rem;
        margin-left: -3em;
   }
    #event{
        width: 13.25rem;
        height: auto;
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;
   }
    #weather{
        width: 13.25rem;
        height: auto;
        grid-column: 1/2;
        grid-row: 2/3;
        grid-template-rows: auto;
        margin: 0;
        flex: none;
   }
   #weather h1{
    margin-top: 0.6em;
   }
   #temperature {
    font-size: 2em;
    width: 100%;
    margin-top: -28%;
    }
   
    #weather img {
        margin-left: 20%;
        width: 80%;
        margin-top: -53%;
    }
    #weather h2 {
        margin-top: 4%;
    }
    #windSpeed {
        margin-top: 33%;
    }
   #windChill {
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: 22%;
    }
    #join{
        width: 13.25rem;
        height: 13.25rem;
        grid-column: 1/2;
        grid-row: 3/4;
   }
    #join h1{
        margin-top: 0.7rem;
        margin-right: 1rem;
        margin-left: 1rem;
   }
    #join p{
        margin-top: -0.5em;
        margin-left: 3px;
        margin-right: 3px;
   }
    #heroBox{
        grid-column: 2/4;
        grid-row: 1/3;
   }
    main, header, footer{
        margin-left: 0em;
        margin-right: 0em;
   }
    #heroBox h1{
        margin: 0;
        margin-top: 0.5rem;
        right: 2em;
        left: 2em;
        font-size: 1.8em;
   }
    #heroBox a{
        font-size: 2em;
        margin-top: 7em;
   }
    #newRelease{
        font-size: 0.9rem;
        grid-column: 2/4;
        grid-row: 3/4;
   }
    .spotlight3{
        display: unset;
   }
    #spotlight{
        width: 13.25rem;
        height: auto;
        display: flex;
        grid-column: 4/5;
        grid-row: 1/4;
        flex-direction: column;
   }
   #spotlight img {
    width: 100%;
    height: auto;
    
}
    .spotlight1 img, .spotlight2 img{
        margin-top: 1em;
    }
    #newRelease p{
        margin: 1em;
   }
    .info{
        flex-direction: column;
   }
    .spotlight1 h2, .spotlight1 p, .spotlight2 h2, .spotlight2 p, .spotlight3 h2, .spotlight3 p {
        font-size: 0.77rem;
        margin-top: 23%;
   }
    
    .spotlight1 h1, .spotlight2 h1{
        font-size: 1.1rem;
   }
   div#galleryImg {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
    .space img{
        width:unset;
        height:unset;
        
    }
    .space{
        margin-right: 15em;
        margin-left: 15em;
    
    }
    .spotlight3 p:first-of-type {
        top: 8.2em;
    }
    #template{
        display: grid;
        grid-template-columns: 750px auto;
    }
    form fieldset, #submit{
        margin-left: 50%;
    }
    #benefits{
        display: unset;
        text-align: center;
        box-shadow: none;
        margin-right: 20%;
        
    }
    #benefits section{
        border: .1rem solid black;
        margin-bottom: .5em;
    }
    #benefits h1{
        font-size: 1.6em;
        border-bottom: 1px solid black;
        color: #820ad1;
        margin-top: 1.2em;
    }
    section h2{
        font-size: 1.3em;
    }
    #np{
        background-color: aquamarine;
        border-radius: 5px;
    }
    #bronze{
        background-color: #DB9370;
    }
    #silver{
        background-color: #BAB8B5;
    }
    #gold{
        background-color: #FFD700;
    }
    .mai{
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        max-width: 900px;
        background-color: #eee;
    }
    form fieldset {
        margin-left: 20%;
    }
    #submit {
        margin-left: 21%;
    }
}
