@media only screen and (min-width: 45rem){
    
    header img{
        width: 8em;
    }
    #heroBox{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    
    #newRelease{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #spotlight{
        grid-column: 1/3;
        grid-row: 4/5;
        flex-direction: row;
    }
    .spotlight1 h1, .spotlight2 h1{
        font-size: 1.1rem;
    }
   .spotlight1 img{
       margin-top: -0.3em;
   }
   .spotlight2 img{
       margin-top: -0.5em;
   }

    #join{
        grid-column: 1/3;
        display: unset;
        grid-row: 5/6;
        border: 1px solid black;
        background-color: #d1d1d1;
        color: white;
        text-align: center;
    }
    #join h1{
        background-color: #820ad1;
        color: #820ad1;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
        margin-left: 6em;
        margin-right: 6em;
        margin-top: 1rem;
        border-radius: 4px;
    }
    #join a{
        text-decoration: none;
        color: #d1d1d1;
    }
    #join p{
        margin-top: 2em;
        color: black;
        
    }
    #join p, #event p, #newRelease p {
        font-size: 1.3em;
    }
    
    #temperature{
        margin-top: -1em;
        font-size: 2em;
        
    }
    #weather img{
        width: 6em;
        margin-top: -3.4em;
        align-self: flex-start;
    }
    
    #weather h2 {
        margin-top: -20%;
    }
    #windSpeed {
        margin-top: -7%;
    }
    #windChill {
        grid-column: 1/3;
        grid-row: 3/4;
        text-align: center;
        margin-top: 3%;
    }
    #footerTop{
        display: grid;
        grid-template-columns: 100px 1fr 1fr;
        align-items: center;
    }
    footer img{
        width: 100%;
        height: auto;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .info{
        display: flex;
        grid-row: 1/2;
        flex-wrap: wrap;
        justify-content: center;
    }
    .info p, .info h2{
        grid-column: 2/3;
    }
    .info h2{
        font-size: 1rem;
        margin-top: 2em;
    }
    .info p {
        margin-top: -0.4em;
    }
    .contact{
        grid-column: 3/4;
    }

    #footerBottom{
        display: flex;  
         align-items: center;
        
        justify-content: center;
    }
    #heroBox h1{
        font-size: 2em;
        margin-right: 1em;
        margin-left: 1em;
    }
    #heroBox a{
        font-size: 1.5em;
        margin-top: 5em;
    }
    .spotlight1 h2, .spotlight1 p, 
    .spotlight2 h2, .spotlight2 p {
        padding: 0;
        font-size: 0.8rem;
        margin-top: 7%;
    }
    
    .space{
        margin-right: 12em;
        margin-left: 12em;
    }
    .space img[data-src]:hover {
        box-shadow: 0 0 50px #333;
      }
      .spotlight1 p:first-of-type, .spotlight2 p:first-of-type, .spotlight3 p:first-of-type {
        top: 6.8em;
        
    }
    .spotlight1 h2, .spotlight2 h2, .spotlight3 h2 {
        top: 6em;
        
    }
}