@media only screen and (min-width: 64rem){
    main{
        display: grid;
       
    }
    #historicalInformation {
        grid-column: 1/3;
        margin-right: 8px;
        
    }
    #contacts {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 1em;
        
        
    }
    .map{
        grid-column: 1/4;
        grid-row: 2/3;
        
        
    }
    #historicalInformation p {
        font-size: 1.5em;
    }
    #contacts p{
        font-size: 1.5em;
    }
}