@media only screen and (min-width: 45rem){

header img{
    width: 100px;
    height: auto;
}
ul#navigation a { 
    font-size: 2em;
}
#spotlight{
    display: flex;
    justify-content: space-between;

}

div#makeOwnDrink, div#specialtyDrinks {
    width: 49%;
}
#coast h1{
    font-size: 3em;
}
#coast p{
    font-size: 2em; 
}
.forecast {
    display: flex;
    justify-content: space-between;
}
#makeOwnDrink img {
    width: 95%;
}

.forecast-items, #weather{
    width: 49%;
    
}
div#contact {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
}
footer img{
    width: 164px;
    height: auto;
}
#socialMedias{
    display: flex;
    flex-direction: column;
}


form {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
}

fieldset#personalInformation {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 1.44em;
    margin-bottom: 1em;
}
div#customerOrder{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 16px;
    margin-top: 36px;
}
input#submit{
    grid-column: 1/3;
    grid-row: 2/3;
}
#historicalInformation p, #contacts p{
    font-size: 2em;
}

}