body {
    display: block;
    margin: 8px;
}
h1, h2, h3{font-family: 'Playfair+Display', sans-serif;}

p{font-family: 'Lato', sans-serif;}

header {
    display: grid;
    grid-template-columns: 130px 4fr;
    background-color: rgb(255 214 161 / 59%);
    border: 1px solid black;

}
#coast, #makeOwnDrink, #specialtyDrinks,#weather,.forecast-items, footer{
    background-color: rgb(255 214 161 / 59%);
}
header img, footer img{
    grid-column: 1/2;
    width: 64px;
    height: auto;
    margin: 1em; 
}
header img{
    margin-top: 1em;
    margin-right: 0;
    
}
nav {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 130px;
}

ul#navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
   font-size: 1em;

}

#navigation a:hover{
    background-color: hsl(0deg 80.82% 59.71%);
    color: #84cb2c;
}

#navigation a {
    text-decoration: none;
    color: black;
    border-right: 1px solid rgba(0, 0, 0, 0.253);
    padding: 0.3cm;
    display: block;
    padding: 0.8rem 2vw;
    
}
ul#navigation li:nth-child(1){
    border-left: 1px solid rgba(0, 0, 0, 0.253);
}
h1,
h2 {
    font-size: 2em;
    text-align: center;
}

#coast,
#makeOwnDrink {
    text-align: center;
}
#makeOwnDrink img{
    border: 1px solid hsl(0deg 100% 70.16%);
}
.hero,
#makeOwnDrink img {
    display: inline-block;
    
}
.hero img {
    width: 98%;
    height: auto;
    border: 1px solid hsl(0deg 100% 70.16%);
}
#coast p{
        font-size: 1.3em;
        padding-inline: 1em; 
}
#coast,
#makeOwnDrink,
#forecast, #specialtyDrinks {
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#makeOwnDrink h3 {
    font-size: 2em;
    background-color: hsl(0deg 91.22% 62.57%);
    color: white;
    border: 2.5px solid #84cb2c;
    padding: 4px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#makeOwnDrink a {
    color: hsl(0deg 91.22% 62.57%);
    text-decoration-color: #84cb2c;
}
#makeOwnDrink a:hover{
    background-color: hsl(0deg 91.22% 62.57%);
    color: #84cb2c;
}
#weather,
#forecast-items {
    border: 1px solid black;

}

.forecast-items {
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid black;

}

.forecast-items {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#weather {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


footer{
    margin-top: 1em;
    border: 1px solid black;
    text-align: center;
}
#socialMedias img{
    width: 32px;
    height: auto;
}
#socialMedias a{
    text-decoration: none;
}
div#items {
    display: flex;
    justify-content: space-around;
   
}
div#customerOrder {
    text-align: center;
    border: 1px solid black;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgb(255 214 161 / 59%);
}
strong {
    line-height: 2;
    font-size: 1.2em;
}
p#output2 {
    line-height: 1;
    font-size: 1.2em;
}
select {
    width: 65%;
    max-width: 12.4em;
    margin-bottom: 1em;
}
fieldset#personalInformation {
    text-align: center;
    border: 1px solid black;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: rgb(255 214 161 / 59%);
}
label {
    font-size: 1.4em;
    line-height: 2.5em;
}
input#submit {
    display: block;
    border: none;
    background-color: hsl(0deg 91.22% 62.57%);
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    width: 96%;
    margin: auto;
    max-width: 20rem;
    font-size: 1.5em;
}
input#submit:hover {
    background-color: #84cb2c;
    text-decoration: underline;
    text-decoration-color: hsl(0deg 91.22% 62.57%);
    color: hsl(0deg 91.22% 62.57%);
    font-weight: bold;
}
legend {
    font-size: 1.4em;
}
span#drinkCounter {
    font-size: 3em;
}
span {
    text-align: center;
    display: block;
    font-size: 3em;
    margin: auto;
}
#specialtyDrinks h2{
    font-size: 3em;
    background-color: hsl(0deg 91.22% 62.57%);
    color: white;
    border: 2.5px solid #84cb2c;
    border-radius: 10px;
    padding: 4px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1rem;
}
#specialtyDrinks h3 {
    text-align: center;
    font-size: 2em;
}
span#drinkCount {
    font-size: 8em;
}
span.required {
    text-align: center;
    display: inline-flex;
    font-size: 2em;
    margin: auto;
    color: red;
}

.map {
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 8px;
    background-color: rgb(255 214 161 / 59%);
}
    
#historicalInformation {
    text-align: center;
    margin-bottom: 8px;
    padding-left: 5em;
    padding-right: 5em;
    border: 1px solid black;
    margin-top: 8px;
    background-color: rgb(255 214 161 / 59%);
}
#contacts{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(255 214 161 / 59%);
}
.ol-viewport {
    border: 1px solid black;
}